html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
body{
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
header{
    height: 110px;
}
nav{
    background-color: GRAY;
}
aside{

    height: 500px;
    display: inline-block;
}
footer{
    height: 200px;
    background-color: GRAY;
}
.main-content{
    display: inline-block;
    height: 1000px;
    widows: 100%;
}
.login{
    margin: 0 auto;
    margin-top: 200px;
    width: 300px;
}
.logo, .buscador, .botones, .botones li, .sociales li{
    display: inline-block;
    font-size: 20px;
    color: black;
}
.botones li{
    float: right;
}
.d-block{
    display: block;
}
@import url("font.css") screen;
